<!DOCTYPE html>
<html ng-app='ngSnake'>

  <head>
    <link rel="stylesheet" type="text/css" href="app.css">
  </head> 

  <body ng-controller="snakeCtrl">

    <div id="gameContainer">
      
     <table>
          <tr class="row" ng-repeat="column in board">
              <td class="column"
                  ng-style="{'background-color': setStyling($parent.$index, $index,player)}"
                  ng-repeat="row in column track by $index" ng-click="make_active($parent.$index,$index)"
              ><p>{{value($parent.$index,$index)}}</p></td>
          </tr>
    </table>
    <h2> Player Turn : {{player === 1 ? 'Player1' : 'Player2'}}</h2>
      <div class="words">
      <h3>letters entered</h3>

       <p style="color:red;"> {{word}}</p>
        <br>
        <br>
       <p style="color:blue;"> {{word1}}</p>
      </div>
    </div>
      
      
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
</script>
    <script src="app.js"></script> 
  </body>

</html>